<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itproject.hoadt.b4rectangle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">
        <activity android:name="com.itproject.hoadt.b4Reactangle.GameActivity" />
        <activity android:name="com.itproject.hoadt.b6SaveFileJson.Main6Activity" />
        <activity android:name="com.itproject.hoadt.b6SaveFileJson.Detail6Activity" />
        <activity android:name="com.itproject.hoadt.b7Jsonserver.Main7Activity" />
        <activity android:name="com.itproject.hoadt.b7Jsonserver.Detail7Activity" />
        <activity android:name="com.itproject.hoadt.b8JsonAdd.Main8Activity" />
        <activity android:name="com.itproject.hoadt.b5MoveLoop.GameActivity" />
        <activity android:name="com.itproject.hoadt.exam.b2.ExamActivity"></activity>
        <activity android:name="com.itproject.hoadt.exam.b3.Exam3Activity">

        </activity>
        <activity android:name="com.itproject.hoadt.exam.Exam2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>